# Created by .ignore support plugin (hsz.mobi)
将删除 .DS_Store
将删除 .idea/.gitignore
将删除 .idea/inspectionProfiles/
将删除 .idea/magua-webscraping.iml
将删除 .idea/misc.xml
将删除 .idea/modules.xml
将删除 .idea/sonarlint/
将删除 .idea/vcs.xml
将删除 lession1_01.py
将删除 lesson1_practise.py
将删除 .idea/
